@import url("https://fonts.googleapis.com/css2? family=Poppins:wght@300;400;500;600;700;800;900& display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100vh;
    background:url('../../assets/img10.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    
   
    
}
.left{
    flex: 4;
    justify-content: center;
    align-items: center;
    // border: 2px solid red;

    background-size: cover;
    background-position: center;
    min-height: 100vh;
}


.top{
    color: white;
    font-size: 70px;
    padding-left: 20px;
    justify-content: space-between;
}
.right{
    flex: 2;
    // border: 2px solid red;
    background-color:white;

}


.right-head{
    color: black;
}

.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
 
  
    
}
.facilites{
    background-color:white;
    color: grey;
    height: 120px;
    border-radius: 20px;
    width: 18rem;
  
  
  
}
.part{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.svg{
    display: inline-block ;
    height: 95%;
    margin-top: 20px;
    margin-left: 30px;
  
  
}
.f-one{
    display: block;
    margin-top: 20px;
    
}

.news{
    text-align: center;
    color: white;
    margin-top: 40px;
}

.line
{
    color: white;
    width: 280px;
    text-align: center;
    margin-left: 420px;
    margin-top: 20px;
}

.break{
    display: flex;
    justify-content: center;
}
.pilosophy{
    color: white;
    font-size: 30px;
    text-align: center;
}
.middle{
    text-align: center;
    margin-top: 30px;
 
    margin-left: 100px;
    margin-right: 100px;
}
.symbol{
    font-size: 40px;
}
.right-head{
    color: black;
    font-size: 70px;
    padding-left: 20px;
    justify-content: space-between;

}

