<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESPONSE</title>
</head>
<body>
    <!-- left-side -->
    <div class="left">
<h1 class="top">"Your Appoinment Booked   Succesfully"</h1>

<div class="box">

  

        <div class="facilites">
            <div class="part">
                <div class="one">
                    <img src="../../assets/f-one.svg" alt="" class="svg" >
                </div>
              
                <div class="two">
                    <h1 class="f-one"> 40+</h1>
                    <p class="text" >Healthcare Facilities</p>
                </div>
               
                    </div>
            </div>
            
   

            <div class="facilites">
                <div class="part">
                    <div class="one">
                        <img src="../../assets/f-two.svg" alt="" class="svg" >
                    </div>
                  
                    <div class="two">
                        <h1 class="f-one"> 32+</h1>
                        <p class="text" >Operational Beds</p>
                    </div>
                   
                        </div>
                </div>

                <div class="facilites">
                    <div class="part">
                        <div class="one">
                            <img src="../../assets/f-three.svg" alt="" class="svg" >
                        </div>
                      
                        <div class="two">
                            <h1 class="f-one"> 100+</h1>
                            <p class="text" >Healthcare professionals</p>
                        </div>
                       
                            </div>
                    </div>
</div>

<div class="news">
    <h1>OUR PHILOSOPHY</h1>

        <hr class="line">
        <div class="middle">
            <p class="pilosophy">
                <span class="symbol">&ldquo;</span>A hospital is a sanctuary of healing, where compassion meets science 
                to restore health and hope. Every life is treated with dignity, every need with urgency, 
                and every challenge with unwavering commitment. Together, we create a space where care
                 transcends boundaries and humanity thrives.  <span class="symbol">  &hearts; &rdquo;</span> </p>
        </div>
        


    
</div>

    </div>
    
    <!-- right -side -->
    <div class="right">
        
<div class="title"><h1  class="right-head" >Appoinment Details</h1></div>

<div>
patient Name
<span>&#8594;</span>

</div>

    </div>
</body>
</html>