<!-- --- about ----- -->
<section class="section_main d-flex justify-content-center pb-5">
  <div class="container">
    <nav
      class="navbar d-flex justify-content-between background_filter"
      data-aos="fade-down"
    >
      <div class="logo">
        <a href="#" class="font_size_40 font_weight_700">X Hospitals</a>
      </div>
      <div class="menu_item d-none d-md-flex">
        <ul class="li_style_none d-flex justify-content-center gap-3">
          <li><a href="#" class="font_size_25">Home</a></li>
          <li><a href="#" class="font_size_25">Services</a></li>
          <li><a href="#" class="font_size_25">Contact</a></li>
          <button (click)="login()">Login</button>
          <button>Register</button>
        </ul>
      </div>
    </nav>

    <section
      class="home d-flex justify-content-lg-end justify-content-center mt-5"
      id="Home"
    >
      <div class="about mt-5">
        <div class="row m-0 p-0">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12"></div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <h4
              class="d-flex justify-content-center p-3"
              data-aos="fade-left"
              data-aos-anchor-placement="top-center"
            >
              Hospital X,
            </h4>
            <div class="d-flex justify-content-end mt-5">
              <p class="pb-5" data-aos="fade-down-left">
                We are dedicated to providing exceptional healthcare services to
                our community. With a focus on patient-centered care,
                cutting-edge technology, and a compassionate team of healthcare
                professionals, we strive to be the premier healthcare provider
                in the region.
              </p>
            </div>
            <div class="d-flex justify-content-end">
              <p class="pb-5" data-aos="fade-up-left">
                We are dedicated to providing exceptional healthcare services to
                our community. With a focus on patient-centered care,
                cutting-edge technology.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
