<section class="services">
  <div class="service row m-0 p-0">
    <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12">
      <div class="boxx">
        <img
          [src]="service"
          alt="Description of the image"
          class="image-fluid w-100"
        />
      </div>
    </div>
    <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12">
      <div class="ser d-flex flex-column gap-3">
        <h4
          data-aos="fade-left"
          data-aos-anchor="#example-anchor"
          data-aos-offset="500"
          data-aos-duration="500"
        >
          Our Services
        </h4>
        <p
          class="font_size_30"
          data-aos="fade-up"
          data-aos-anchor-placement="center-center"
        >
          Immediate 24/7 services for critical medical needs. Ensuring rapid
          response to urgent health situations. Providing expert care in
          life-threatening emergencies.
        </p>
        <p
          class="font_size_30 mt-3"
          data-aos="fade-up"
          data-aos-anchor-placement="center-center"
        >
          Providing advanced treatments in specialized fields such as surgery,
          oncology, cardiology, and more. Offering personalized care plans
          tailored to each patient's needs. Ensuring access to cutting-edge
          technologies and therapies for optimal outcomes. Delivering
          compassionate care and support throughout the treatment journey.
        </p>
        <p
          class="font_size_30 mt-3"
          data-aos="fade-up"
          data-aos-anchor-placement="center-center"
        >
          Providing advanced treatments in specialized fields such as surgery,
          oncology, cardiology, and more. Offering personalized care plans
          tailored to each patient's needs. Ensuring access to cutting-edge
          technologies and therapies for optimal outcomes. Delivering
          compassionate care and support throughout the treatment journey.
        </p>
      </div>
    </div>
  </div>
</section>
