<section class="vision pt-5 pb-5 d-flex justify-content-center">
  <div class="container">
    <div class="row m-0 p-0">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12"></div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="mission pt-5 pb-5">
          <h4
            class="pt-1 pb-1 d-flex justify-content-center"
            data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="1500"
          >
            Our Mission
          </h4>

          <div class="d-flex justify-content-center">
            <p
              class="d-flex justify-content-center"
              data-aos="fade-up"
              data-aos-anchor-placement="center-center"
            >
              At Hospital X, our mission is to improve the health and well-being
              of our community through compassionate, patient-centered care. We
              strive for excellence in all that we do, maintaining the highest
              standards of integrity. Our commitment is to provide exceptional
              healthcare services that prioritize the needs and dignity of every
              individual.
            </p>
          </div>
        </div>
        <!-- ------------- -->

        <div class="mission pt-5 pb-5">
          <div class="d-flex justify-content-center">
            <h4 class="pt-1 pb-1 d-flex justify-content-center">Our Vision</h4>
          </div>

          <div class="d-flex justify-content-end">
            <p
              class="d-flex justify-content-end"
              data-aos="fade-up"
              data-aos-anchor-placement="bottom-bottom"
            >
              To be the healthcare provider of choice, recognized for our
              commitment to quality, safety, and exceptional patient
              experiences.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
