<div class="container">
  <div class="header-section">
    <div class="title"> Book Your Appoinment </div>
    <button class="btn" (click)="onback()" >Back</button>
  
  </div>

  <div class="body-section">

    <div class="search-section">
      
      <div class="left-side-search-section">
       
        <div class="name">
          <label>User Name:</label>
         
          <input type="name" id="name" placeholder="Enter your name" required name="name" [(ngModel)]="formData.name"  placeholder="{{user.user_name}}" readonly> 
        </div>
        

        <div class="DOB">
          <label>User DOB:</label>
          <input type="DOB" id="DOB" placeholder="Enter your DOB" required name="DOB" [(ngModel)]="formData.dob"  placeholder="{{user.dob}}" readonly>
          
        </div>
        <div class="doctor">
          <label>Doctor :</label>
          <input type="doctor" id="doctor" placeholder="Enter your doctor" required name="doctor" [(ngModel)]="formData.docname"   placeholder="{{doctor.docname}}" readonly>
          
          
        </div>
        <div class="speacilist">
          <label>Speacilist:</label>
          <input type="speacilist" id="speacilist" placeholder="Enter your speacilist" required name="speacilist"[(ngModel)]="formData.specalist" placeholder="{{doctor.specalist}}" readonly>
          
        </div>
      
      </div>
      <div class="right-side-search-section">
        

        <div class="date">
          <label>Date:</label>
          <input type="date" id="date"  required name="date" [(ngModel)]="formData.date"  (ngModelChange)="findDayOfWeek($event)">
          
        </div>
        <div class="day">
          <label>Day:</label>
          <input type="text" id="day" required name="day"[(ngModel)]="dayOfWeek" >
          
        </div>

        <div class="session">

          <label>Session:</label>
          <div class="session-buttons">
            <button 
            *ngFor="let session of sessions"
class="session-btn"
[ngClass]="{'selected': session === selectedSession}"
(click)="selectSession(session)"
>
{{ session | titlecase }}
</button>
</div>
        </div>

           <div class="time"  *ngIf="filteredConsultation ">
                <label>Time:</label>
                <input type="time" id="time"  required name="time" [(ngModel)]="filteredConsultation.start_time">
                
              </div>
          

      </div>
    
    </div>

    <div class="content-section">
      <button class="create-btn"  (click)="OnBook_Appoinment()">Create</button>
  
    
        
    </div>
  
  </div>

  